{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/jpg/Photography.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Photography Portfolio</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Gallery -->
<div class="row photography-gallery">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(1).jpeg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="../static/assets/photography/Portfolio%20(1).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(2).jpeg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="../static/assets/photography/Portfolio%20(2).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(3).jpeg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="../static/assets/photography/Portfolio%20(3).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(4).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="../static/assets/photography/Portfolio%20(5).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(6).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="../static/assets/photography/Portfolio%20(7).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(8).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="../static/assets/photography/Portfolio%20(9).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(10).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="../static/assets/photography/Portfolio%20(11).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(12).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="../static/assets/photography/Portfolio%20(13).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(14).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="../static/assets/photography/Portfolio%20(15).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(16).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="../static/assets/photography/Portfolio%20(17).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(18).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="../static/assets/photography/Portfolio%20(19).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(20).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="../static/assets/photography/Portfolio%20(21).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(22).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="../static/assets/photography/Portfolio%20(23).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
        <img
                src="../static/assets/photography/Portfolio%20(28).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(24).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="../static/assets/photography/Portfolio%20(25).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="../static/assets/photography/Portfolio%20(26).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="../static/assets/photography/Portfolio%20(27).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>

</div>

<!-- Gallery -->

{% include "footer.html" %}